### PYTHON ###
__pycache__/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

### MACOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

### VSCODE ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/*-schema.json
